* {
  /* Colors */
  --background-color: black;
  --header-color: #f9e4ff;
  --body-color: #a09a9f;

  /* Font Sizes */
  --h1-fs: 80px;
  --h2-fs: 36px;
  --h3-fs: 32px;
  --h4-fs: 24px;
  --accent-color: #f9e4ff;
  --body-fs: 20px;

  /* Scrollbar */
  scrollbar-width: none;
}

@media (max-width: 768px) {
  * {
    --h1-fs: 48px;
    --h2-fs: 24px;
    --h3-fs: 20px;
    --h4-fs: 16px;
    --body-fs: 16px;
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-size: var(--body-fs);
}

body {
  background-color: var(--background-color);
  color: var(--body-color);
  font-family: "Afacad", sans-serif;
}

main {
  width: 100%;
  max-width: 2000px;
  min-width: 300px;
  margin: 0 auto;
}

/* Intro Section */
section#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
  margin: 0;
  font-size: var(--h2-fs);
  background-image: url("images/Ellipse 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro h1 {
  text-transform: uppercase;
  color: var(--header-color);
  margin: 0 20px;
}

section#intro p {
  font-size: var(--h4-fs);
  margin: 0 20px;
}

.scroll-indicator {
  position: absolute;
  bottom: 40px;
  transition: transform 0.3s ease;
  animation: bounce 2s infinite;
}

.scroll-indicator:hover {
  transform: translateY(5px);
}

.scroll-indicator .arrow {
  color: var(--accent-color);
  stroke: var(--accent-color);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* Other Sections */
section:not(#intro) {
  min-height: 100vh;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:not(#intro) > * {
  width: 80%;
  max-width: 100%;
}

@media (max-width: 768px) {
  section:not(#intro) > * {
    width: 90%;
  }
}

section h1 {
  color: var(--header-color);
  text-transform: capitalize;
  text-align: center;
}

section p {
  text-align: center;
  line-height: 2;
}

/* Cards */
.card-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  padding: 50px 30px;
  border-radius: 30px;
}

/* GPT Switch Button */
button#gpt-switch {
  font-family: IBM Plex Mono;
  font-size: 1rem;
  font-weight: bold;

  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 10px 0 !important;
  background-color: #222429;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;

  height: 2rem;
  padding: 0 0.5em;

  cursor: pointer;
}
