* {
  /* Colors */
  --background-color: black;
  --header-color: #f9e4ff;
  --body-color: #a09a9f;
  --oval-color: #d9d9d9;
  --highlight-color: #c800ff;

  /* Font Sizes */
  --h1-fs: 80px;
  --h2-fs: 36px;
  --h3-fs: 32px;
  --h4-fs: 24px;
  --accent-color: #f9e4ff;
  --body-fs: 20px;

  /* Scrollbar */
  scrollbar-width: none;
}

@media (max-width: 768px) {
  * {
    --h1-fs: 48px;
    --h2-fs: 24px;
    --h3-fs: 20px;
    --h4-fs: 16px;
    --body-fs: 16px;
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-size: var(--body-fs);
}

body {
  background-color: var(--background-color);
  color: var(--body-color);
  font-family: "Afacad", sans-serif;
}

main {
  width: 100%;
  max-width: 2000px;
  min-width: 300px;
  margin: 0 auto;
}

/* Intro Section and thank you section */
section#intro,
section#thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
  margin: 0;
  font-size: var(--h2-fs);
  background-image: url("images/abstract.png");
  background-size: contain;  
  background-position: center right;
  background-repeat: no-repeat;
}

#intro h1 {
  margin-left: -20rem;
  font-size: 10rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.5;
  letter-spacing: -0.5rem;
  text-align: left;
  text-transform: uppercase;
  color: var(--header-color);
 /* TEXT CLIPPING MASK */
 background-image: url("images/textbg.png");
 background-size: cover;    
 background-position: center;
 background-clip: text;
 -webkit-background-clip: text;
 color: transparent;
 -webkit-text-fill-color: transparent;

 display: inline-block; 
}
#intro h1 .grey {
  background: none !important;
  -webkit-background-clip: unset !important;
  background-clip: unset !important;

  color: --header-color !important;    
  -webkit-text-fill-color: #A6A6A6 !important;
}

section#intro p {
  font-size: var(--h4-fs);
  margin: 2rem 0px;
  text-align: left;
  width: fit-content;  
}

.scroll-indicator {
  position: absolute;
  bottom: 40px;
  transition: transform 0.3s ease;
  animation: bounce 2s infinite;
}

.scroll-indicator:hover {
  transform: translateY(5px);
}

.scroll-indicator .arrow {
  color: var(--accent-color);
  stroke: var(--accent-color);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* Other Sections */
section:not(#intro) {
  min-height: 100vh;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:not(#intro) > * {
  width: 80%;
  max-width: 100%;
}

@media (max-width: 768px) {
  section:not(#intro) > * {
    width: 90%;
  }
}

section h1 {
  color: var(--header-color);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0;
}

section p {
  text-align: center;
  line-height: 1.3;
  margin-top: 0;
}

/* Cards */
.card-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  padding: 50px 30px;
  border-radius: 30px;
  font-size: var(--h4-fs);
  color: var(--header-color);
}

/* GPT Switch Button */
button#gpt-switch {
  font-size: 1rem;
  font-weight: bold;

  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 10px 0 !important;
  background-color: #222429;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;

  height: 2rem;
  padding: 0 0.5em;

  cursor: pointer;
}

/* History Section */

#history {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible;
}

#history .oval {
  position: absolute;
  background: var(--oval-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 20;
}

#history .oval:hover {
  transform: translate(-50%, -50%) scale(1.15);
  box-shadow: 0 0 20px 6px #c800ff;
}

#history .oval-1 {
  width: 30px;
  height: 30px;
  top: calc(25% + 12%);
  left: 35%;
}
#history .oval-2 {
  width: 30px;
  height: 30px;
  top: calc(35% + 12%);
  left: 46%;
}
#history .oval-3 {
  width: 30px;
  height: 30px;
  top: calc(50% + 12%);
  left: 63%;
}
#history .oval-4 {
  width: 35px;
  height: 35px;
  top: calc(65% + 12%);
  left: 80%;
}

#history #highlight-circle {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease,
    transform 0.6s ease;
  width: 40px;
  height: 40px;
  z-index: 20;
  opacity: 0;
}

#history #highlight-circle svg {
  width: 100%;
  height: 100%;
  display: block;
}

#history .spin {
  animation: spinY 0.6s ease;
}

@keyframes spinY {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateY(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}

#history #info-box {
  position: absolute;
  bottom: -5rem; 
  left: 5rem;
  width: 32.5rem;
  min-height: 10rem;
  border-radius: 0.625rem;
  border: 1px solid #e8e0d3;
  background: #1b1820;
  padding: 1.75rem;
  display: none;
  color: #e8e0d3;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

#history #connecting-line {
  position: absolute;
  height: 2px;
  background: white;
  transform-origin: top left;
  z-index:10;
}

@media (max-width: 600px) {
  #history #connecting-line {
    top: 55%;
    left: 5vw;
    height: 2px !important;
    width: 90vw !important;
    transform: none !important;
    background: white;
  }

  #history .oval-1,
  #history .oval-2,
  #history .oval-3,
  #history .oval-4 {
    width: 10vw;
    height: 8vw;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  #history .oval-1 {
    left: 15vw;
  }
  #history .oval-2 {
    left: 35vw;
  }
  #history .oval-3 {
    left: 55vw;
  }
  #history .oval-4 {
    left: 75vw;
  }

  #history #info-box {
    width: 88vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.75rem;
    font-size: 1rem;
    padding: 1.25rem;
  }
}
