* {
  --background-color: #222429;
  --text-color: white;
  --accent-color: #a5fd1a;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "JetBrains Mono", monospace;
}

main {
  width: 75%;
  max-width: 2000px;
  min-width: 300px;
  margin: 0 auto;
}

section#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
  margin: 0;
}

.scroll-indicator {
  position: absolute;
  bottom: 40px;
  transition: transform 0.3s ease;
  animation: bounce 2s infinite;
}

.scroll-indicator:hover {
  transform: translateY(5px);
}

.scroll-indicator .arrow {
  color: var(--accent-color);
  stroke: var(--accent-color);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
#intro h1 {
  text-transform: uppercase;
  color: var(--accent-color);
}

section:not(#intro) {
  min-height: 100vh;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

section h1 {
  color: var(--accent-color);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

section p {
  width: 100%;
  text-align: center;
  line-height: 2;
}

.card-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  padding: 50px 30px;
  border-radius: 30px;
}

button#gpt-switch {
  font-family: IBM Plex Mono;
  font-size: 1rem;
  font-weight: bold;

  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 10px 0 !important;
  background-color: #222429;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;

  height: 2rem;
  padding: 0 0.5em;

  cursor: pointer;
}
